[Desktop Entry]
Name=Daphne
Comment=Laserdisc game emulator
Exec=start.sh %f
Terminal=true
Type=Application
StartupNotify=true
Icon=daphne
Categories=emulators;
X-OD-Manual=retrofwmanual.txt
